<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
<meta>
<title>Lista de cursos</title>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
	rel="stylesheet">
<style>
* {
	font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron-bg {
	background-color: #B2DFDB;
}
.hidden  {
	display: none;
}
</style>
<script src="fadeIn.js">
</script>
</head>
<body >

	<div class="bg-default">
		<div class="jumbotron jumbotron-bg">
			<div class="container">
				<p class="display-4">Cursos</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div th:if="${cursos.isEmpty()}">
			<h2 class="display-4 text-center">Nenhum registro encontrado!</h2>
		</div>
		<div class="table-responsive" th:unless="${cursos.isEmpty()}">
			<table
				class="table table-sm table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Curso</th>
					<th>Descricao</th>
					<th>Preco</th>
					<th>Categorias</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="curso : ${cursos}">
					<td th:text="${curso.id}"></td>
					<td th:text="${curso.nome}"></td>
					<td th:text="${curso.descricao}"></td>
					<td th:text="${curso.preco}"></td>
					<td><span th:each="cat : ${curso.categorias}"
						th:text="${cat.nome + ' | '}"></span></td>
					<td>
						<div class="btn-group pull-right">
							<a th:href="@{/alterarCurso/{id}(id=${curso.id})}"
								class="btn btn-sm btn-primary">Editar</a> <a
								th:href="@{/excluirCurso/{id}(id=${curso.id})}"
								class="btn btn-sm btn-danger">Excluir</a>
						</div>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		<div class="text-center">
			<a class="btn btn-secondary" th:href="@{/menu}">Voltar para o Menu</a>
		</div>
	</div>

</body>
</html>